#about a,
a:visited {
  color: inherit;
}

#about h1 {
  color: white;
}

#bio p {
  margin: 0.5rem;
}

#about #bio {
  margin: 7rem auto;
  width: 34rem;
  text-align: center;
  color: white; 
  font-size: 1.3rem;
  text-shadow: 0 0 6px #ff0000, 0 0 8px rgb(68, 0, 255);
}