.container h1 {
    margin-top: 8rem;
    margin-bottom: 1rem;
    color: #d6da00;
    padding-left: 1rem;
    text-shadow: 0 0 8px #d6da00, 0 0 8px rgb(68, 0, 255);
}

.container textarea {
    resize: none;
}