* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid hsl(46, 65%, 30%);
}

.brand-title {
  font-size: 1.5rem;
  margin: .5rem;
  color: #fff;
  font-weight: normal;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
  font-weight: bold;
}

.navbar-links ul .NavLink {
  color: rgb(56, 56, 56);
  font-size: 1.2rem;
  text-decoration: none;
  display: block;
  padding: 1rem;
  text-decoration: none;
}

.navbar-links ul .NavLink:hover{
  background-color: hsl(46, 65%, 30%);
  color: white;
}


.navbar-links a.active {
  color: #d4af37;
}
