#projects {
  justify-content: center;
  margin: auto;
}

#projects h1 {
  display: flex;
  text-align: center;
  justify-content: center;
  color: white;
  margin: 2rem;
}

#projects h3 {
  font-size: 2rem;
}

#projectview {
  display: flex;
  overflow-x: hidden;
  padding: 8px 0;
  justify-content: center;
  text-align: center;
  margin: 2rem;
  padding: 1rem;
}

#projectview p {
  width: 18rem;
  color: white;
  padding: auto;
  margin: 1rem auto;
  font-size: 1.3rem;
}

#projectview ul {
  list-style-type: none;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

#projectview ul li a {
  height: 22rem;
  width: 22rem;
  border-radius: 50%;
  color: #fff;
  text-decoration: none;
  padding: 6px;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  border-width: 1px;
  border-radius: 50%;
  margin: 2rem 1.5rem;
}

#covid19 {
  height: inherit;
  width: inherit;
  border-radius: inherit;
}
