#projects {
  justify-content: center;
  margin: auto;
  overflow: hidden;
}

#projects h1 {
  display: flex;
  text-align: center;
  justify-content: center;
  color: white;
  margin: 2rem;
}

#projects h3 {
  font-size: 2rem;

}

.projectTitle {
  animation: fadeInLeftBig;
  animation-duration: 1s;

}

.projectDescription {
  animation: fadeInRightBig;
  /* animation-delay: 1s; */
  animation-duration: 2s;
}

.projectIcon {
  animation: fadeIn;
  animation-duration: 2.5s;
}

.projectIcon img:hover {
  animation: bounce;
  animation-duration:1s;
}



#projectview {
  display: flex;
  overflow-x: hidden;
  padding: 8px 0;
  justify-content: center;
  text-align: center;
  margin: 2rem;
  padding: 1rem;
}

#projectview p {
  width: 18rem;
  color: white;
  padding: auto;
  margin: 1rem auto;
  font-size: 1.3rem;
}

#projectview ul {
  list-style-type: none;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

#projectview ul li a {
  height: 14rem;
  width: 14rem;
  border-radius: 50%;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  border-width: 1px;
  border-radius: 50%;
  margin: 2rem 1.5rem;
}

#covid19 {
  height: inherit;
  width: inherit;
  border-radius: inherit;
}
