#resumeRender{
    height:90vh;
    width:90vw;
    align-items:center;
    display: block;
    margin-top: 1vh;
    margin-left: auto;
    margin-right: auto;
}

#resumeRender a {
    height:inherit;
    width: inherit;
    align-items:center;
}

#resumeRender img {
    height: inherit;
    width: inherit;
    align-items:center;
}