.resumeRender{

    align-items:center;
    display: grid;
    place-items: center;
    margin-top: 1vh;
    margin-left: auto;
    margin-right: auto;
}

.resumeRender a {

    align-items:center;
}

.resumeRender img {

    align-items:center;
}