#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  border-bottom: 1px solid #e5e5e5;
  width: 100vw;
  height: 50px;
}

#navbar h2 {
  padding: 0 0 0 10px;
}

#navbuttons {
  margin: 10px;
  font-weight: bold;
}

#navbuttons a {
  margin: 8px;
  padding: 5px;
  text-decoration: none;
  color: rgb(68, 68, 68);
  font-size: 1.2em;
  background-color: rgb(153, 153, 153);
}

#navbuttons a.active {
  color: #d4af37;
  background-color: #ffffff;
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: black;
}

#viewprojectsbutton {
  background-color: #00000004;
  color: #fff;
  font-size: 1rem;
  border: 1px solid #fff;
  border-radius: 2px;
  padding: 0.3rem;
  margin-top: 2rem;
}
